* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
}

.body {
  background-image: url("1455378.jpeg");
  background-size: 3.2cm;
  width: 100%;
  height: 90px;
  z-index: 1;

  .header {
    text-align: center;
    
    padding: 0 40px;
    &__title {
      color: #000000;
      font-size: 60px;
      line-height: 90px;
      margin: 0 auto;
      padding-left: 100px;
      font-family: cursive;
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      // font-family: 'Snell Roundhand', sans-serif;
      .ul {
        display: flex;;
        text-decoration: none;
        .li {
            font-size: 40px;
            padding-left: 20px;
          a {
            color: #CC3366;
          }
        }
      };
    }
  };

  .side_bar {
    padding: 20px 20px;
    width: 250px;
    background-color: #CCFFFF;
    border: double 10px;
    .form {
      &__box {
        &--a {
          height: 110px;
        }
          &--text {
            padding: 10px;
          }
          &--btn {
            background-color: #CC3366;
            display: block;
            height: 50px;
            width: 100px;
            margin: 0 auto;
            border-radius: 30px;

            
            
          }
        }
      }
  
    &__top {
      text-align: center;
      font-size: 50px;
      padding-top: 10px;
    }
    &__main {
      .ul {
        text-align: center;
        .li {
          font-size: 30px;
          padding-top: 30px;
          .side_bar__main--R {
            text-decoration: none;
            color: black;
          }
          .side_bar__main--C {
            text-decoration: none;
            color: black;
          }
          .side_bar__main--F {
            text-decoration: none;
            color: black;
          }
          .side_bar__main--L {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }


  .main {
    background-image : url("1455378.jpg");
    background-size: 22cm;
    padding: 10px 20px;
    width: calc(100vw - 250px);
    height: 100%;

    .switch_age_type {
      background-color: burlywood;
      width: calc(100vw - 300px);
      height: 25px;
      font-size: 20px;
      border: double 3px;
      ul {
        display: flex;
        justify-content: space-between;
        li {
          .side_bar__main--10 {
            text-decoration: none;
            color: black;
          }
          .side_bar__main--20 {
            text-decoration: none;
            color: black;
          }
          .side_bar__main--30 {
            text-decoration: none;
            color: black;
          }
          .side_bar__main--40 {
            text-decoration: none;
            color: black;
          }
          .side_bar__main--50 {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
    .main_contents {
      background-color: burlywood;
      width: calc(100vw - 300px);
      height: 30px;
      font-size: 25px;
      
      .main_contents_swich {
        ul {
          display: flex;
          justify-content: center;
          li {
            .side_bar__main--new {
              text-decoration: none;
              padding-right: 20px;
              color: black;
              
            }
            .side_bar__main--runk {
              text-decoration: none;
              padding-left: 20px;
              color: black;
              
            }
          }
        }
      }
      .contents_body {
        &__list {
          display: flex;
          flex-wrap: wrap;
          &--image {
            padding: 10px 10px;
          }
          &--prf {
            &--img {
            }
            &--age {
            }
          }
        }
      }
    }
  }
}



